doctype html
html( ng-app='SCRUMApp')
    head
        title SCRUMApp - Home
        meta(charset="utf-8")
        base(href="/")

        link(rel='stylesheet', href='/public/stylesheets/home.css')
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        link(rel='stylesheet', href='/public/stylesheets/userpage.css')
        link(rel='stylesheet', href='/public/stylesheets/toolbar.css')
        link(rel='stylesheet', href='/public/stylesheets/scrollable_table.css')

        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/angular-material.css')


        script(src='/js/angular.js')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular-route.js')
        script(src='/js/angular-resource.js')
        script(src='/js/angular-material.js')
        script(src='/js/angular-animate.js')
        script(src='/js/angular-aria.js')

        script(src='/public/angular/controller/authentication/login.js')
        script(src='/public/angular/controller/authentication/logout.js')
        script(src='/public/angular/controller/authentication/registration.js')
        script(src='/public/angular/controller/authentication/current_user.js')

        script(src='/public/angular/controller/tasks/add.js')
        script(src='/public/angular/controller/tasks/edit.js')
        script(src='/public/angular/controller/tasks/list.js')

        script(src='/public/angular/controller/userstories/add.js')
        script(src='/public/angular/controller/userstories/edit.js')
        script(src='/public/angular/controller/userstories/list.js')

        script(src='/public/angular/controller/sprints/kanban.js')

        script(src='/public/angular/controller/home.js')
        script(src='/public/angular/controller/project.js')
        script(src='/public/angular/controller/users.js')

        script(src='/public/angular/services/project_services.js')
        script(src='/public/angular/services/authentication_service.js')
        script(src='/public/angular/services/tasks_services.js')
        script(src='/public/angular/services/userstories_services.js')
        script(src='/public/angular/services/sprint_services.js')


        script(src='/public/angular/routes/routes.js')
        script(src='/public/angular/core.js')
