doctype html
html( ng-app='SCRUMApp')
    head
        title SCRUMApp - Home
        meta(charset="utf-8")
        base(href="/")

        link(rel='stylesheet', href='/public/stylesheets/home.css')
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')


        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/angular-material.css')
        script(src='/js/angular.js')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular-route.js')
        script(src='/js/angular-resource.js')

        script(src='/js/angular-material.js')
        script(src='/js/angular-animate.js')
        script(src='/js/angular-aria.js')
        script(src='/public/angular/routes/routes.js')
        script(src='/public/angular/controller/home.js')
        script(src='/public/angular/controller/project.js')
        script(src='/public/angular/controller/users.js')
        script(src='/public/angular/services/project_services.js')
        script(src='/public/angular/core.js')

//
//        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js")
//        script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js")
//        script(src="//cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.js")
//        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
//        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
//        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
//        link(rel='stylesheet', href='/public/stylesheets/home.css')
//        link(rel='stylesheet', href='/public/stylesheets/style.css')
    // ****** DON'T REMOVE ******* -//
-//