doctype html
html( ng-app='SCRUMApp')
    head
        title SCRUMApp - Home
        meta(charset="utf-8")
        base(href="/")

        link(rel='stylesheet', href='/public/stylesheets/home.css')
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/angular-material.css')
        script(src='/js/angular.js')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular-route.js')
        script(src='/js/angular-resource.js')
        script(src='/js/angular-material.js')
        script(src='/js/angular-animate.js')
        script(src='/js/angular-aria.js')
        script(src='/public/angular/routes/routes.js')
        script(src='/public/angular/controller/home.js')
        script(src='/public/angular/controller/project.js')
        script(src='/public/angular/controller/users.js')
        script(src='/public/angular/services/project_services.js')
        script(src='/public/angular/services/authentication.js')
        script(src='/public/angular/core.js')
