table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    max-height: 250px;
    overflow-y: auto;
}

thead {
    /* fallback */
}

thead.listBackLog th {
    width: 14.2%;
}

tbody.listBackLog td {
    width: 14.2%;
}

tbody.listBackLog input {
    width: 50%;
}

tbody td, thead th {
    width: 25%;
    float: left;
}
