md-dialog(aria-label='List dialog')
    md-dialog-content
        .container-fluid
            h3 UserStories
            form
                .form-group
                    .checkbox
                        label
                            input(type='checkbox',name="all")
                            | ALL
                .form-group
                    .checkbox
                        label
                            input(type='checkbox')
                            | US#1
                .form-group
                    .checkbox
                        label
                            input(type='checkbox')
                            | US#2
                .form-group
                    .checkbox
                        label
                            input(type='checkbox')
                            | US#3
    md-dialog-actions
        md-button.md-primary(ng-click='closeDialog()')
            | Close
| '
