md-dialog(aria-label='List dialog', ng-controller='TasksAddController')
    md-dialog-content
      .container-fluid
        h3 Task Dependencies
        form(ng-repeat="task in project.tasks")
            .form-group
                .checkbox
                    label
                        input(type='checkbox', ng-model="bool", ng-click="taskSync(bool, task)", ng-checked="taskIsChecked(task._id)" )
                        | {{task.description}}
    md-dialog-actions
        md-button.md-primary(ng-click='closeDialog()')
            | Ok

