.container(ng-controller='UserStoriesEditController')
    h3
        center Update User Story
    block content
        form.css-form(name ="form", novalidate)
            .form-group(ng-class="{'has-warning' : form.description.$invalid && form.description.$touched}")
                label(for='description') Description :
                textarea#description.form-control(type='description',name = "description",ng-model='userstory.description',rows="3")
                span.help-block(ng-show='(!userstory.description) && form.description.$touched') You must describe the user story.
            .form-group
                label(for='duration') Cost :
                input#duration.form-control(name="in_charge" ,ng-show='isProductOwner()', ng-model='userstory.cost')
            .form-group
                label(for='priority') Priority :
                input#priority.form-control(name="in_charge" ng-model='userstory.priority')
            .form-group
                label(for='sprint') Sprint :
                select#sprint.form-control(name="sprint", ng-model='userstory.sprint',
                ng-options= "selected_sprint as 'Sprint#' + selected_sprint.number_sprint for selected_sprint in sprints")
                
            .form-group
                button#userstory_submit.btn.btn-default(type='submit',ng-class="{'btn-success':form.$valid}",ng-disabled='form.$invalid',ng-click='updateUserStory()') Update User Story
                input#cancel_edit_us_button.btn.btn-default(type="button", ng-click='cancel()', value='Cancel')