.container-fluid
    h2 User story details
    table.table.table-striped
        thead
             tr
                th ID
                th User Story
                th Priroty
                th Sprint
                th Action
        tbody
             tr
                td US1
                td En tant que..., je souhaite..., afin de ...
                td 5
                td Sprint 2
                td action
             tr
                td US2
                td En tant que..., je souhaite..., afin de ...
                td 7
                td Sprint 3
                td Action