.container-fluid(ng-controller='UserStoriesListController')
    h2 User story details
    table.table.table-striped
        thead.listBackLog
            tr
                th ID
                th User Story
                th Priority
                th Cost
                th
                    select(name='select_sprint',ng-model='selectSprintValue',
                    ng-change = 'applyFilter(selectSprintValue, oldvalue)',
                    ng-options= " elem.label for elem in selectSprint track by elem.value ",
                    ng-click = "oldvalue = selectSprintValue")
                th State
                th Action
        tbody.listBackLog
            tr(ng-repeat='user_story in listUserStories | filter: { num_sprint:myFilter } '
                ng-init="setTotals(user_story)")
                td.filterable-cell US{{user_story.number_us}}

                td.filterable-cell
                    span.truncate(ng-mouseover="tooltip=true" ng-mouseleave="tooltip=false") {{user_story.description}}
                    div.tooltipTruncate(ng-show="tooltip") {{user_story.description}}

                td.filterable-cell
                    input(type='number', ng-show='isProductOwner()', name='form_priority',
                        value='{{user_story.priority}}', ng-model='user_story.priority', ng-change='updatePriority(user_story)')
                    span(ng-hide='isProductOwner()') {{user_story.priority}}

                td.filterable-cell
                    select(ng-show='isProjectMember()', name='form_cost', ng-options="item as item for item in listCout track by item"
                        ng-model='user_story.cost', ng-change='updateCostUs(user_story)')
                    span(ng-hide='isProjectMember()') {{user_story.cost}}

                td.filterable-cell
                    {{user_story.num_sprint}}
                td.filterable-cell 
                    a.pointer(ng-click="linkGitHub(user_story)", ng-show='user_story.state=="Valid"') {{user_story.state}}
                    span(ng-hide='user_story.state=="Valid"'){{user_story.state}}

                td.filterable-cell(ng-if='isProjectMember()')
                    .btn-group
                        button.btn.btn-default(type='button', aria-label='pencil', ng-click='update_us(user_story)')
                            span.glyphicon.glyphicon-pencil(aria-hidden='true')
                        button.btn.btn-danger(type='button', aria-label='trash',ng-click='delete_us(user_story)')
                            span.glyphicon.glyphicon-trash(aria-hidden='true')
             tr
                td
                td
                td TOTAL
                td {{invoiceTotal}}
                td
                td
                td
