.container-fluid(ng-controller='UserStoriesListController')
    h2 User story details
    table.table.table-striped
        thead.listBackLog
            tr
                th ID
                th User Story
                th Priority
                th Cost
                th Sprint
                th State
                th Action
        tbody.listBackLog
            tr
                td.filterable-cell US1
                td.filterable-cell En tant que
                td.filterable-cell
                    input(type='number' , value='3')
                td.filterable-cell
                    input(type='number' , value='3')
                td.filterable-cell
                    a.pointer Sprint#1
                td.filterable-cell Valide
                td.filterable-cell
                    a.pointer Delete

            tr(ng-repeat="user_story in listUserStories")
                td.filterable-cell
                    a.pointer(ng-click='view_us({{user_story.number_us}})') US{{user_story.number_us}}
                td.filterable-cell {{user_story.description}}
                td.filterable-cell
                    input(type='number' , ng-show='isProductOwner()', value='{{user_story.priority}}')
                    span(ng-hide='isProductOwner()') {{user_story.priority}}
                td.filterable-cell
                    input(type='number' , ng-show='isProjectMember()', value='{{user_story.estimated_cost}}')
                    span(ng-hide='isProjectMember()') {{user_story.estimated_cost}}
                td.filterable-cell
                    a.pointer(ng-click='view_sprint({{user_story.sprint}})') Sprint {{user_story.sprint}}
                td.filterable-cell {{user_story.state}}
                td.filterable-cell
                    a.pointer(ng-click='delete_us({{user_story.number_us}})') Delete
br