nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

        ul.nav.navbar-nav
            li(ng-class="{ active: isActive('/project/{{project._id}}')}")
                a(name = "toobar_project",ng-href="/project/{{project._id}}") Project
            li(ng-class="{ active: isActive('/project/{{project._id}}/team')}")
                a(name = "toobar_members",ng-href="/project/{{project._id}}/team") Members
            li(ng-class="{ active: isActive('/project/{{project._id}}/backlog')}")
                a(name = "toobar_backlog",ng-href="/project/{{project._id}}/backlog") BackLog
            li(ng-class="{ active: isActive('/project/{{project._id}}/sprints')}")
                a(name = "toobar_sprints",ng-href="/project/{{project._id}}/sprints") Sprints
            li(ng-class="{ active: isActive('/project/{{project._id}}/tasks')}")
                a(name = "toobar_tasks",ng-href="/project/{{project._id}}/tasks") Tasks
            li(ng-class="{ active: isActive('/project/{{project._id}}/pert')}")
                a(name = "toobar_pert",ng-href="/project/{{project._id}}/pert") Pert
            li(ng-class="{ active: isActive('/project/{{project._id}}/burndown')}")
                a(name = "toobar_burndown",ng-href="/project/{{project._id}}/burndown") Burn Down chart
