h1 New Project
form.css-form(name = "form", novalidate)
    .form-group(ng-class="{'has-warning':form.name.$invalid && form.name.$touched}")
        label(for='name') Name *
        input#name.form-control(type='text',name = "name", ng-model='new_project.name', required="")
        span(ng-show='(!new_project.name) && form.name.$touched') Your project needs a name.

    .form-group
        label(for='github_link') Github Link
        input#github_link.form-control(type='text', name="github_link", ng-model='new_project.github')



    .form-group(ng-class="{'has-warning':form.date_start.$invalid && form.date_start.$touched}")
        label(for='date_start') Starting Date *
        md-datepicker#date_start(ng-model='new_project.date_start',name = "date_start", md-placeholder='', required="")
        div(ng-show='(!new_project.date_start) && form.date_start.$touched') You have to define a starting date.

    .form-group(ng-class="{'has-warning':form.sprint_duration.$invalid && form.sprint_duration.$touched}")
        label(for='sprint_duration') Sprint Duration (Day) *
        input#sprint_duration.form-control(type='number',name = "sprint_duration", min="0" max="99", ng-model='new_project.sprint_duration', required="")
        div(ng-show='(!new_project.sprint_duration) && form.sprint_duration.$touched') You have to define the sprint duration.

    .form-group
        label(for='description') Description:
        textarea#description.form-control(rows='5', name="description", ng-model='new_project.description')

    .form-group
        label.radio-inline
            input#privacy_private(type='radio', name='inlineRadioOptions', ng-model='new_project.status', value="private")
            |  private
        label.radio-inline
            input#privacy_public(type='radio', name='inlineRadioOptions', ng-model='new_project.status', value="public", checked='checked')
            |  public

    input#project_submit.btn.btn-default(type='submit',ng-class="{'btn-success':form.$valid}",ng-disabled='form.$invalid', ng-click='createProject()', value='Save')
