extends layout
block content
    include project_toolbar
    .container-fluid(ng-controller='KanbanController')
        h3 Kanban Sprint# {{current_sprint.number_sprint}}
        select(ng-model='current_sprint',
                ng-options='selected_sprint as "Sprint#"+selected_sprint.number_sprint for selected_sprint in list_sprints',
                ng-change='changeCurrentSprint()')
        table.table
            thead
                tr.info
                    th User Stories
                    th TO DO
                    th Doing
                    th Done
            tbody.kanban_body
                tr
                    td ALL
                        span(ng-if='isProjectMember()', ng-click='showAddTaskForm($event,null)')
                            span.glyphicon.glyphicon-plus(aria-hidden='true')
                    td
                        ul(ng-repeat='task in all_tasks')
                            li.task_li
                                span.glyphicon.glyphicon-eye-open.kanban-task-show(aria-hidden='true', ng-click='showTaskDescription($event,task)')
                                label() {{task.title}}
                    td
                    td

                tr(ng-repeat="user_story in listUserStories")
                    td
                        a.pointer(ng-click='showUserStoryDescription($event,user_story)') US# {{user_story.number_us}}
                        span(ng-if='isProjectMember()',ng-click='showAddTaskForm($event,user_story)')
                            span.glyphicon.glyphicon-plus(aria-hidden='true')
                    td
                        ul(ng-repeat='task in user_story.tasks')
                            li.task_li
                                span.glyphicon.glyphicon-eye-open.kanban-task-show(aria-hidden='true', ng-click='showTaskDescription($event,task)')
                                label {{task.title}}
                    td
                    td