extends layout
block content
    include project_toolbar

    .container-fluid(ng-controller='TasksListController')
        include list_tasks
        br
    .container#add-task-container(ng-controller='TasksAddController')
        include task_form