extends layout
block content
    include project_toolbar

    h3 Product Owner

    form(name='Form-product-owner', ng_if = 'isProductOwner()')
        label(for='product-owner-select')
        select#product-owner-select.form-control(name='repeatSelect',ng-model='project.product_owner',
            ng-change = 'updateProductOwner(project.product_owner)',
            ng-options= "user.username for user in project.member_list")

    .container-fluid#product-owner-header
        .media-left
            a(href='#')
                img.user-desc-image(ng-src="{{project.product_owner.image || '/public/images/default.png'}}", alt="user_image",height="60" width="60")
        .media-body
            h4.media-heading {{project.product_owner.username}}

    h3 Members
    .container-fluid#project-memberlist(ng-repeat="user in project.member_list")
        .media.user-media
            .media-left
                a(ng-href='/users/{{user._id}}')
                    img.user-desc-image(ng-src="{{user.image || '/public/images/default.png'}}", alt="user_image",height="60" width="60")
            .media-body
                h4.media-heading {{user.username}}


    form.navbar-form(ng-controller="UserController", ng-hide='!isProjectMember()')
        .form-group
            input#search-input.form-control(type='text', placeholder='Search registered user', ng-model = 'searchUser.username' )
            button#search-button.btn.btn-info(type='submit', ng-click='add_user_to_project()')
                span.glyphicon.glyphicon-search
                |  Add
            ul.list-group.search
                li.result(ng-repeat='user_search_result in users_search | filter:searchUser.username | limitTo:limit', ng-hide="!(searchUser.username) + (searchUser.username.length == 0 )")
                    a.list-group-item(ng-click='setUser(user_search_result)') {{user_search_result.username}}