include project_toolbar

form(name='Form-product-owner')
    label(for='product-owner-select')  Product Owner:
    select#product-owner-select.form-control(name='repeatSelect', ng-model='project.product_owner',ng-change = 'updateProject()' )
        option(ng-repeat="user in project.member_list", value='{{user}}') {{user.username}}


h3 Members
.container-fluid#project-memberlist(ng-repeat="user in project.member_list")
    include user-description


form.navbar-form(ng-controller="UserController")
    .form-group
        input#search-input.form-control(type='text', placeholder='Search registered user', ng-model = 'searchUser.username' )
        button#search-button.btn.btn-info(type='submit', ng-click='add_user_to_project()')
            span.glyphicon.glyphicon-search
            |  Add
        ul.list-group.search
            li.result(ng-repeat='user_search_result in users_search | filter:searchUser.username | limitTo:limit', ng-hide="!(searchUser.username) + (searchUser.username.length == 0 )")
                a.list-group-item(ng-click='setUser(user_search_result)') {{user_search_result.username}}