.toolbardemoBasicUsage(ng-controller='HomeController', ng-cloak='', ng-app='MyApp')
    md-content
        br
        md-toolbar.md-hue-2
            .md-toolbar-tools
                md-button.md-icon-button(aria-label='Settings', ng-disabled='true')
                    md-icon(md-svg-icon='img/icons/menu.svg')
                h2
                    span Toolbar with Disabled/Enabled Icon Buttons
                span(flex='')
                md-button.md-icon-button(aria-label='Favorite')
                    md-icon(md-svg-icon='img/icons/favorite.svg', style='color: greenyellow;')
                md-button.md-icon-button(aria-label='More')
                    md-icon(md-svg-icon='img/icons/more_vert.svg')
