.row
    .col-md-8
        .media.user-media
            .media-left
                a(ng-href='/users/{{user._id}}')
                    img.user-desc-image(ng-src="{{user.image || '/public/images/default.png'}}", alt="user_image",height="60" width="60")
            .media-body
                h4.media-heading {{user.username}}
    .col-md-4
        .row
            .panel.panel-primary
                .panel-heading
                    h3.panel-title Followed Projects
                .panel-body
                    .tab-content
                        #followed_project_list.tab-pane.active
                            ul(ng-repeat="followed_project in user.followed_projects")
                                .media.user-media
                                    .media-left
                                        span.glyphicon.glyphicon-folder-open.project_icon

                                    .media-body
                                        h4.media-heading {{followed_project.name}}
            .panel.panel-primary
                .panel-heading
                    h3.panel-title Your Projects
                        a#add_project_button.glyphicon.glyphicon-plus(ng-href='/project/new')

                .panel-body
                    .tab-content
                        #project_list.tab-pane.active
                            ul(ng-repeat="project in user.projects")
                                .media.user-media
                                    .media-left
                                        p
                                            span.glyphicon.glyphicon-folder-open.project_icon
                                    .media-body
                                        h4.media-heading {{project.name}}