md-dialog
    md-dialog-content
        .container-fluid
            h3 UserStory# {{userstory.number_us}}
            label Description
            p {{userstory.description}}
            label State
            p {{userstory.state}}
            label Commit
            p {{userstory.commit_validation}}
            

    md-dialog-actions
        md-button.md-primary(ng-click='closeDialog()')
            | Ok
