.media.user-media
    .media-left
        a(href='#')
            img.user-desc-image(ng-src="{{user.image || '/public/images/default.png'}}", alt="user_image",height="60" width="60")
    .media-body
        h4.media-heading {{user.username}}