extends layout
block content
    h1 update personal information
    form.css-form(name = "form")
        .form-group
            label(for='username') Username
            input#username.form-control(type='text',name ="username")

            .form-group
            label(for='firstname') First name
            input#firstname.form-control(type='text',name ="firstname")

            .form-group
                label(for='lastname') Last name
                input#lastname.form-control(type='text',name ="lastname")

            .form-group
            label(for='mail') Mail
            input#mail.form-control(type='email',name ="mail")